<div class="container contact_container">
    <div class="row">
        <div class="col">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Map Container -->

    <div class="row">
        <iframe style="width: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.745420996508!2d105.74778855064048!3d21.04286998592193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454ecfeff5bd1%3A0x882d94ee3d0ac0de!2zMTUgUGjDuiBLaeG7gXUsIFBow7pjIERp4buFbiwgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1654749541377!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- Contact Us -->

    <div class="row mt-4">

        <div class="col-lg-6 contact_col">
            <div class="contact_contents">
                <h1>LIÊN HỆ VỚI CHÚNG TÔI</h1>
                <p>Có nhiều cách để liên hệ với chúng tôi. Bạn có thể gửi cho chúng tôi một dòng, gọi cho chúng tôi hoặc gửi email, chọn những gì phù hợp với bạn nhất.</p>
                <div>
                    <p>(800) 686-6688</p>
                    <p>info.books@gmail.com</p>
                </div>
                <div>
                    <p>Giờ mở cửa: 8.00-18.00 Thứ hai - Thứ sáu</p>
                    <p>Chủ nhật: Không làm việc</p>
                </div>
            </div>

            <!-- Follow Us -->

            <div class="follow_us_contents">
                <h1>Theo dõi chúng tôi</h1>
                <ul class="social d-flex flex-row">
                    <li><a href="#" style="background-color: #3a61c9"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#" style="background-color: #41a1f6"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#" style="background-color: #fb4343"><i class="fa-brands fa-instagram-square"></i></a></li>
                    <li><a href="#" style="background-color: #8f6247"><i class="fa-brands fa-google"></i></a></li>
                </ul>
            </div>

        </div>

        <div class="col-lg-6 get_in_touch_col">
            <div class="get_in_touch_contents">
                <h1>HÃY GỬI TIN NHẮN CHO CHÚNG TÔI</h1>
                <p>Điền vào biểu mẫu dưới đây để nhận miễn phí và bảo mật.</p>
                <form action="" [formGroup]="ContactForm" (ngSubmit)="onSubmit()">
                    <div>
                        <input id="input_name" class="form_input input_name input_ph" type="text"  formControlName="name" name="name" placeholder="Tên" required="required" data-error="Name is required.">
                        <app-component [field]="ContactForm.get('name')" key="Tên"></app-component>

                        <input id="input_email" class="form_input input_email input_ph" type="email" name="email" formControlName="email" placeholder="Email" required="required" data-error="Valid email is required.">
                        <app-component [field]="ContactForm.get('email')" key="Email"></app-component>

                        <textarea id="input_message" class="input_ph input_message" name="Nội dung"  placeholder="Message" formControlName="content" rows="3" required data-error="Please, write us a message."></textarea>
                        <app-component [field]="ContactForm.get('content')" key="Nội dung"></app-component>
                    </div>
                    <div>
                        <button id="review_submit" type="submit" class="message_submit_btn trans_300" value="Submit">Gửi tin nhắn</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
