<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên</th>
                <th>Tuổi</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Avatar</th>
                <th colspan="2">Chỉnh sửa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of user">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td><img [src]="user.avatar" width="100px" alt=""></td>
                <td><button class="btn btn-primary" (click)="remove(user.id)">Xóa</button></td>
                <td><button class="btn btn-primary" (click)="onEdit(user.id)">Sửa</button></td>
            </tr>
        </tbody>
    </table>
</div>
