<div class="container single_product_container mt-44">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Chi tiết sản phẩm</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <div class="single_product_image_background" style="background-image:url({{product.image}})"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h2>{{product.name}}</h2>
                    <p style="color: #333;">{{product.description}}</p>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="ti-truck"></span><span>Giao hàng miễn phí</span>
                </div>
                <div class="original_price">{{product.sale_price == 0 ? "" : product.price | currency: 'VND'}}</div>
                <div class="product_price">{{product.price - (product.price * product.sale_price / 100) | currency: 'VND'}}</div>
                <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                    <span>Quantity:</span>
                    <div class="quantity_selector">
                        <span class="minus" (click)="reduce()" ><i class="fa fa-minus" aria-hidden="true"></i></span>
                        <span id="quantity_value">{{quantity}}</span>
                        <span class="plus" (click)="increasing()"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>
                    <div class="bg-red-500 ml-2 h-10 w-44 rounded-sm flex items-center justify-center"><a (click)="addToCart()" class="text-white">Thêm vào giỏ hàng</a></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Tabs -->

<div class="tabs_section_container">

    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Tab Description -->

                <div id="tab_1" class="tab_container active">
                    <div class="row">
                        <div class="col-lg-5 desc_col">
                            <div class="tab_title mt-4">
                                <h4 style="color: #333;">SẢN PHẨM LIÊN QUAN</h4>
                            </div>
                        </div>
                    </div>

                    <!-- Sản phẩm liên quan -->
                    <div >
                        <div class="product-grid flex" >
                            <div class="product-item men" *ngFor="let productAll of getAllProducts">
                                <div class="product discount product_filter" >
                                    <div class="product_image">
                                        <img [src]="productAll.image" alt="">
                                    </div>
                                    <div *ngIf="productAll.sale_price != 0" class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>{{productAll.sale_price}}%</span></div>
                                    <div class="product_info">
                                        <h6 class="product_name"><a href="single.html">{{productAll.name}}</a></h6>
                                        <div class="product_price">{{productAll.price - (productAll.price * productAll.sale_price / 100) | currency: 'VND'}}<span>{{productAll.sale_price == 0 ? "" : productAll.price | currency: 'VND'}}</span></div>
                                    </div>
                                </div>
                                <div class="red_button add_to_cart_button"><a routerLink="/productDetails/{{productAll._id}}">Chi tiết sản phẩm</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
