<div class="container">
    <header>
        Header
        <nav class="">
            <ul>
              <li>
                  <a routerLink="/">Home</a>
              </li>
              <li>
                <a routerLink="/user">Users</a>
              </li>
              <li>
                <a routerLink="/admin">Admin</a>
              </li>
            
            </ul>
          </nav>
    </header>
        <div>
            <router-outlet></router-outlet>
        </div>
    <footer>
        Footer
    </footer>
</div>
