<div class="container">
  <div>
    <!-- <h1>Angular form</h1>
    <div>
      <app-form></app-form>
    </div> -->
    <h1>Router</h1>
    <nav>
      <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/user">Users</a>
        </li>
        <!-- <li>
          <a routerLink="/user/create">Users-Create</a>
        </li>
        <li>
          <a routerLink="/user/edit">Users-Edit</a>
        </li> -->
      </ul>
    </nav>
    <router-outlet></router-outlet>
    <!-- <app-user></app-user> -->
  </div>
  <hr>
  <!-- <h1>Thêm giảng viên </h1>
  <form action="" class="mb-5">
        <div class="form-group">
            <label for="">Tên giảng viên</label>
            <input type="text" class="form-control" (input)="onInput($event,'name')" [value]="inputValue.name">
        </div>
        <div class="form-group">
            <label for="">Tuổi giảng viên</label>
            <input type="text" class="form-control" (input)="onInput($event,'age')" [value]="inputValue.age">
        </div>
        <div class="form-group">
          <label for="">Nam</label>
          <input type="radio" class="form-check" value="1" name="gender" (input)="onInput($event,'gender')" [checked]="inputValue.gender == '1'">
          <label for="">Nữ</label>
          <input type="radio" class="form-check" value="0" name="gender" (input)="onInput($event,'gender')" [checked]="inputValue.gender == '0'">
        </div>
        <div class="form-group">
          <label for="">Ảnh</label>
          <input type="text" class="form-control" (input)="onInput($event,'avatar')" [value]="inputValue.avatar">
        </div>
        <div class="form-group">
          <label for="">Đang làm việc</label>
          <input type="radio" class="form-check" value="1" name="status" (input)="onInput($event,'status')" [checked]="inputValue.status == '1' ">
          <label for="">Đã nghỉ việc</label>
          <input type="radio" class="form-check" value="1" name="status" (input)="onInput($event,'status')" [checked]="inputValue.status == '0' ">
        </div>
        <button class="btn btn-primary mt-4" type="button" (click)="add()">Thêm</button>
  </form>
  <button (click)="ClickTable()" class="btn btn-info">{{showTable ? "Ẩn" : "Hiện"}}</button>
  <app-table [users]="teachers" *ngIf="showTable"></app-table> -->
</div>