<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="">
                Name
            </label>
            <!-- Định nghĩa thuộc tính để lắng nghe input -->
            <input type="text" class="form-control" formControlName="name">
            <app-component [field]="productForm.get('name')" key="Tên sản phẩm"></app-component>
        </div>
        <div class="form-group">
            <label for="">
                Price
            </label>
            <input type="text" class="form-control" formControlName="price">
            <app-component [field]="productForm.get('price')" key="Giá"></app-component>
        </div>
        <div class="form-group">
            <label for="">
                Sale_price
            </label>
            <input type="text" class="form-control" formControlName="sale_price">
            <app-component [field]="productForm.get('sale_price')" key="Sale_price"></app-component>
        </div>
        <div class="form-group">
            <label for="">
                Image
            </label>
            <input type="text" class="form-control" formControlName="image">
            <app-component [field]="productForm.get('image')" key="Ảnh"></app-component>
        </div>
        <div class="form-group">
            <label for="">
                Descripton
            </label>
            <input type="text" class="form-control" formControlName="description">
            <app-component [field]="productForm.get('description')" key="Descripton"></app-component>
        </div>
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect02" formControlName="category">
                <option selected *ngFor="let category of listCategories" value={{category._id}}>{{category.name}}</option>
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect02">Category</label>
            </div>
            <app-component [field]="productForm.get('category')" key="Category"></app-component>
        </div>
        <button class="btn btn-success" [disabled]="!productForm.valid">
            {{productId ? "Sửa" : "Thêm"}}
        </button>
    </form>
</div>
